body {
    gap: 20px;
    margin: 0;
    width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 15px;
}

img {
    height: 10rem;
    width: auto;
    align-self: center;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: lightgray;
    margin: 0 auto;
    width: fit-content;
}

#headline, .cell {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}