html {
    font-family: 'Inter';
}
body {
    margin: 0;
    
    width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
}

img {
    height: 10rem;
    padding: 10px;
    width: auto;
    align-self: center;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-bottom: 15px;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 100vw;
    height: 100%;
}

#headline, .cell {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}